{
    "presets": [
        ["@babel/env", {
            "targets": {
                "browsers": ["defaults"]
            },
            "modules": false
        }],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}

