.photography-EffSE .thumbnails-SzIww {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr {
  position: relative;
  flex: 1 0 192px;
  max-width: 256px;
  margin: 8px 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr:hover,
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr:active,
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr:focus {
  transform: scale(1.1, 1.1);
}
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr > img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px / 2 8px / 2 rgba(26, 26, 26, 0.25);
  transition: opacity 0.2s;
  opacity: 0;
}
.photography-EffSE .thumbnails-SzIww .thumbnail-y8Vwr > img.loaded-cUL1F {
  opacity: 1;
}
.photography-EffSE .photoPreview-k1OGN {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}
.photography-EffSE .photoPreview-k1OGN .image-JRlZh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
  height: auto;
}
.photography-EffSE .photoPreview-k1OGN > .close-vH0CW {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10vw;
  right: 10vw;
}
.photography-EffSE .photoPreview-k1OGN > .prev-NC_8z,
.photography-EffSE .photoPreview-k1OGN > .next-j2pTe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-size: 10vw;
  font-weight: bold;
  cursor: pointer;
}
.photography-EffSE .photoPreview-k1OGN > .prev-NC_8z:hover,
.photography-EffSE .photoPreview-k1OGN > .next-j2pTe:hover,
.photography-EffSE .photoPreview-k1OGN > .prev-NC_8z:active,
.photography-EffSE .photoPreview-k1OGN > .next-j2pTe:active,
.photography-EffSE .photoPreview-k1OGN > .prev-NC_8z:focus,
.photography-EffSE .photoPreview-k1OGN > .next-j2pTe:focus {
  background-color: rgba(26, 26, 26, 0.8);
  color: #05FFC0;
}
.photography-EffSE .photoPreview-k1OGN > .prev-NC_8z {
  left: 0;
}
.photography-EffSE .photoPreview-k1OGN > .prev-NC_8z:before {
  content: '<';
}
.photography-EffSE .photoPreview-k1OGN > .next-j2pTe {
  right: 0;
}
.photography-EffSE .photoPreview-k1OGN > .next-j2pTe:before {
  content: '>';
}
.photography-EffSE .transitionReplace-MpnR9 .appear-_xVIn {
  opacity: 0.001;
}
.photography-EffSE .transitionReplace-MpnR9 .appear-_xVIn .image-JRlZh {
  transform: translate(-50%, -60%);
}
.photography-EffSE .transitionReplace-MpnR9 .appear-_xVIn.appearActive-WJcfs {
  opacity: 1;
  transition: opacity 0.75s;
}
.photography-EffSE .transitionReplace-MpnR9 .appear-_xVIn.appearActive-WJcfs .image-JRlZh {
  transform: translate(-50%, -50%);
  transition: transform 0.75s;
}
.photography-EffSE .transitionReplace-MpnR9 .enter-Apk8x {
  opacity: 0.001;
}
.photography-EffSE .transitionReplace-MpnR9 .enter-Apk8x .image-JRlZh {
  transform: translate(-150%, -50%);
}
.photography-EffSE .transitionReplace-MpnR9 .enter-Apk8x.enterActive-DcmI3 {
  opacity: 1;
  transition: opacity 0.3s;
}
.photography-EffSE .transitionReplace-MpnR9 .enter-Apk8x.enterActive-DcmI3 .image-JRlZh {
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}
.photography-EffSE .transitionReplace-MpnR9 .leave-M8mjQ {
  opacity: 1;
}
.photography-EffSE .transitionReplace-MpnR9 .leave-M8mjQ.leaveActive-VtiOa {
  opacity: 0.001;
  transition: opacity 0.3s;
}
.photography-EffSE .transitionReplace-MpnR9 .leave-M8mjQ.leaveActive-VtiOa .image-JRlZh {
  transform: translate(50%, -50%);
  transition: transform 0.3s;
}
.photography-EffSE .transitionReplace-MpnR9.fromRight-F3oDU .enter-Apk8x .image-JRlZh {
  transform: translate(50%, -50%);
}
.photography-EffSE .transitionReplace-MpnR9.fromRight-F3oDU .enter-Apk8x.enterActive-DcmI3 .image-JRlZh {
  transform: translate(-50%, -50%);
}
.photography-EffSE .transitionReplace-MpnR9.fromRight-F3oDU .leave-M8mjQ .image-JRlZh {
  transform: translate(-50%, -50%);
}
.photography-EffSE .transitionReplace-MpnR9.fromRight-F3oDU .leave-M8mjQ.leaveActive-VtiOa .image-JRlZh {
  transform: translate(-150%, -50%);
}


/*# sourceMappingURL=12.029999726d2685d48fb8.css.map*/