.spinner-mN5pe {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 2px;
  opacity: 0.5;
  background-color: #05FFC0;
  animation: spin-TS2yD 2s linear infinite;
}
@keyframes spin-TS2yD {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150vw);
  }
}

.transitionReplace-PXUNL .appear-fBZzk {
  position: relative;
  opacity: 0.001;
  top: -8px;
}
.transitionReplace-PXUNL .appear-fBZzk.appearActive-XWkVo {
  opacity: 1;
  top: 0;
  transition: all 0.75s;
}
.transitionReplace-PXUNL .enter-Vma7Z {
  opacity: 0.001;
  transform: translateX(-100%);
}
.transitionReplace-PXUNL .enter-Vma7Z.enterActive-qkX_Q {
  opacity: 1;
  transform: none;
  transition: all 0.3s;
}
.transitionReplace-PXUNL .leave-_7R9O {
  opacity: 1;
  transform: none;
}
.transitionReplace-PXUNL .leave-_7R9O.leaveActive-Q422f {
  opacity: 0.001;
  transform: translateX(100%);
  transition: all 0.3s;
}
.transitionReplace-PXUNL.fromRight-PS4vN .enter-Vma7Z {
  opacity: 0.001;
  transform: translateX(100%);
}
.transitionReplace-PXUNL.fromRight-PS4vN .enter-Vma7Z.enterActive-qkX_Q {
  opacity: 1;
  transform: none;
  transition: all 0.3s;
}
.transitionReplace-PXUNL.fromRight-PS4vN .leave-_7R9O.leaveActive-Q422f {
  transform: translateX(-100%);
}

.header-_Y6bK {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin: 8px 8px;
  font-size: 32px;
  font-weight: lighter;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-name: headerFadeInDown-OuAns;
}
@keyframes headerFadeInDown-OuAns {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
}
.header-_Y6bK .logo-YdSS8 {
  position: relative;
  margin: 0 8px;
  color: #e6e6e6;
  transition: color 0.2s;
}
.header-_Y6bK .logo-YdSS8 .logoS-n0F6i {
  display: inline-block;
  position: relative;
  width: 17.6px;
  height: 17.6px;
  margin: 0 -1.76px;
  animation-fill-mode: both;
  animation-duration: 1.125s;
}
.header-_Y6bK .logo-YdSS8 .logoS-n0F6i:first-child {
  animation-name: logoAnim1-qsuPP;
}
@keyframes logoAnim1-qsuPP {
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.header-_Y6bK .logo-YdSS8 .logoS-n0F6i:nth-child(2) {
  transform: scaleX(-1);
  animation-name: logoAnim2-UkUjJ;
}
@keyframes logoAnim2-UkUjJ {
  0% {
    transform: translateX(-14.08px) rotate(0deg) scaleX(-1);
  }
  50% {
    transform: translateX(-14.08px) rotate(720deg) scaleX(-1);
  }
}
.header-_Y6bK .logo-YdSS8 .logoS-n0F6i:nth-child(3) {
  transform: scaleX(-1);
  animation-name: logoAnim3-f8AWs;
}
@keyframes logoAnim3-f8AWs {
  0% {
    transform: translateX(-28.16px) rotate(0deg) scaleX(-1);
  }
  50% {
    transform: translateX(-28.16px) rotate(720deg) scaleX(-1);
  }
}
.header-_Y6bK .logo-YdSS8 .logoS-n0F6i .round-t3fWA {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid;
  border-color: #05FFC0 transparent;
  border-radius: 50%;
  transition: border-color 0.2s;
}
.header-_Y6bK .logo-YdSS8 .logoS-n0F6i .line-THhQ_ {
  position: absolute;
  height: 2px;
  width: 100%;
  top: calc(50% - (2px / 2));
  transform: rotate(45deg);
  background-color: #05FFC0;
  border-radius: 2px / 2;
  transition: background-color 0.2s;
}
.header-_Y6bK .logo-YdSS8 .logoText-ZoXdp {
  animation-fill-mode: both;
  animation-duration: 1.125s;
  animation-name: logoAnimText-dDpYB;
}
@keyframes logoAnimText-dDpYB {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
.header-_Y6bK .logo-YdSS8:hover,
.header-_Y6bK .logo-YdSS8:active,
.header-_Y6bK .logo-YdSS8:focus {
  color: #05FFC0;
}
.header-_Y6bK .logo-YdSS8:hover .logoS-n0F6i .round-t3fWA,
.header-_Y6bK .logo-YdSS8:active .logoS-n0F6i .round-t3fWA,
.header-_Y6bK .logo-YdSS8:focus .logoS-n0F6i .round-t3fWA {
  border-color: #e6e6e6 transparent;
}
.header-_Y6bK .logo-YdSS8:hover .logoS-n0F6i .line-THhQ_,
.header-_Y6bK .logo-YdSS8:active .logoS-n0F6i .line-THhQ_,
.header-_Y6bK .logo-YdSS8:focus .logoS-n0F6i .line-THhQ_ {
  background-color: #e6e6e6;
}
.header-_Y6bK > nav {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  min-width: 75%;
  align-items: baseline;
}
.header-_Y6bK > nav > a {
  margin: 0 8px;
  color: #e6e6e6;
  transition: color 0.2s;
}
.header-_Y6bK > nav > a:hover,
.header-_Y6bK > nav > a:active,
.header-_Y6bK > nav > a.active-Rid2w,
.header-_Y6bK > nav > a:focus {
  color: #05FFC0;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/6af3c1276ae82072dcf3.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(/de451c4e1099ac2a7836.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(/121026b0753189a33700.ttf) format('truetype');
}

a {
  color: #05FFC0;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover,
a:active,
a:focus {
  color: #e6e6e6;
}
#app {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #1a1a1a;
}
#app .containers-t1v89 {
  flex: 1;
  display: flex;
  max-width: 100%;
  flex-flow: column nowrap;
  position: relative;
}
@media screen and (min-width: 768px) {
  #app .containers-t1v89 {
    max-width: 768px;
  }
}
#app .containers-t1v89 main {
  margin: 8px 8px;
  color: #e6e6e6;
}


/*# sourceMappingURL=376.ea99277b0be0bb2fad2d.css.map*/