@import '~components/base';

a {
    color: @color-primary;
    text-decoration: none;
    transition: color @duration-transition;
    &:hover, &:active, &:focus {
        color: @color-text;
    }
}

:global(#app) {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: @font-size;
    line-height: @line-height;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: @color-bg;

    .containers {
        flex: 1;
        display: flex;
        max-width: @width-container-max;
        flex-flow: column nowrap;
        position: relative;

        main {
            margin: @spacing-y @spacing-x;
            color: @color-text;
        }
    }
}

